@font-face {
	font-family: 'Potter';
	src: local('Harrypotter'), url('../../fonts/HarryPotter.ttf') format('truetype');
}

.contact-container {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px 20px 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-container p {
  text-align: center;
  margin-bottom: 20px;
  color: #cccccc;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  margin-bottom: 15px;
}

.contact-container input,
.contact-container select,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #444444;
  border-radius: 4px;
  background-color: #333333;
  color: #ffffff;
}


.contact-container button[type="submit"]{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #d3a625;
  background-color: transparent;
  border: 2px solid #740001;
  padding: 10px 20px;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  text-align: center; 
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 0 #740001, 3px 3px 0 #000;
}

.contact-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #d3a625;
  background-color: transparent;
  border: 2px solid #740001;
  padding: 10px 20px;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  text-align: center; 
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 0 #740001, 3px 3px 0 #000;
}

.contact-container button[type="submit"]:hover {
  background-color: #740001;
  color: #fff;
  border: 2px solid #d3a625;
  text-shadow: 2px 2px 0 #d3a625, 3px 3px 0 #000;

}

.register-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #d3a625;
  background-color: transparent;
  border: 2px solid #740001;
  padding: 10px 20px;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  text-align: center; 
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 0 #740001, 3px 3px 0 #000;
}

.register-btn a:hover {
  background-color: #740001;
  color: #fff;
  border: 2px solid #d3a625;
  text-shadow: 2px 2px 0 #d3a625, 3px 3px 0 #000;
}


.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
  color: #ffffff;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.heading{
	color: white;
	text-align: center;
}

.heading-middle {
  font-family: 'Potter', serif !important;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 5px #740001, 0 0 10px #740001, 0 0 15px #740001, 0 0 20px #740001, 0 0 25px #740001, 0 0 30px #740001;
}

.star{
	color: red;
}

