.contact-container {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px 20px 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-container p {
  text-align: center;
  margin-bottom: 20px;
  color: #cccccc;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  margin-bottom: 15px;
}

.contact-container input,
.contact-container select,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #444444;
  border-radius: 4px;
  background-color: #333333;
  color: #ffffff;
}


.contact-container button[type="submit"]{
  background-color: transparent;
  border: 2px solid #02f2fa; 
  color: #02f2fa; 
  padding: 10px 20px;
  display: inline-block;
  text-align: center; 
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;  
}

.contact-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: 2px solid #02f2fa; 
  color: #02f2fa; 
  padding: 10px 20px;
  display: inline-block;
  text-align: center; 
  text-decoration: none;
}

.contact-container button[type="submit"]:hover {
  background-color: transparent;
  color: #02f21a;
  border-color: #02f21a;
}


.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
  color: #ffffff;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.heading{
	color: #02f2fa;
	text-align: center;
}

