.mainContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: #fff;
  width: 100%;
  background: url(/src/assets/OldPaper.png) bottom center no-repeat;
  bottom: 0;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
}

.footerSection {
  flex: 1;
}

.contactSection {
  text-align: left;
}

.socialSection {
  text-align: right;
}

.footerTitle {
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.08rem;
  font-size: 1rem;
  margin-bottom: 10px;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.contactList li {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.socialLogo {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.socialLogo li {
  margin-left: 10px;
}

.socialLogo li a {
  color: #fff;
  font-size: 1rem;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.socialLogo .linkedin a:hover {
  background: #0000ff;
}

.socialLogo .github a:hover {
	background: #000000;
}

.socialLogo .instalogo a:hover {
  background-image: linear-gradient(#405de6, #833Ab4, #FD1D1d, #f77737, #fcaf45);
}

.copyContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #000000;
  text-align: center;
  padding: 10px 0;
}

.copyContainer p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin: 0;
}

.copyContainer p span {
  color: #efa506;
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .socialSection {
    text-align: left;
    margin-top: 20px;
  }

  .socialLogo {
    justify-content: flex-start;
  }

  .socialLogo li {
    margin-left: 0;
    margin-right: 10px;
  }
}
